.vs/
.vscode/
cmake-build-debug/
cmake-build-release/
**/.idea/
exports/
tests/
TODO.md
**/build
**/Debug
**/Release
**/x64/
**/x86/
**/CMakeFiles/
**/*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/*.cmake
**/CMakeCache.txt
**/*.dir
